<!--<mat-sidenav-content>side nav content</mat-sidenav-content>-->
<mat-sidenav mode="side" opened>
  <mat-nav-list role="list">
    <mat-list-item role="listitem" routerLink="/featured">
      <mat-icon matListItemIcon>home</mat-icon>
      <div matListItemTitle>Home</div>
    </mat-list-item>
    <mat-list-item role="listitem" routerLink="/subscriptions">
      <mat-icon matListItemIcon>subscriptions</mat-icon>
      <div matListItemTitle>Subscriptions</div>
    </mat-list-item>
    <mat-list-item role="listitem" routerLink="/history">
      <mat-icon matListItemIcon>history</mat-icon>
      <div matListItemTitle>History</div>
    </mat-list-item>
    <mat-list-item role="listitem" routerLink="/liked-videos">
      <mat-icon matListItemIcon>thumb_up</mat-icon>
      <div matListItemTitle>Liked Videos</div>
    </mat-list-item>
</mat-nav-list>
</mat-sidenav>
